body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./bg/catbg.jpg');
}
.container {
    background: rgba(250, 221, 186, 0.253);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}
input {
    padding: 8px;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #c7b9ac;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    background-color: #ffb977;
    color: rgb(75, 53, 25);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px;
    border: 1px solid #c7b9ac;
    text-align: left;
}
th {
    background-color: #ffb977;
    color: rgb(75, 53, 25);
}
td {
    background-color: #f9f9f9;
}
.myTable{
    display: block;
    width: 100% ;
}
.hidden{
    display: none;
}