body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-item button {
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px !important;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.logo img{
    width: 100px;
    margin: auto 5px auto auto !important;
    border-radius: 100%;
}

.logo h3{
    margin: auto 10px auto 10px;
}

#navbarNav{
    justify-content: end !important;
    padding: 10px 0;
    color: black;
}

.nav-item{
    margin: auto 10px auto 10px !important;
}

.homeContainer {
    background-color: #E0CFBD;
    padding: 15px 15px 15px 15px !important;
    justify-content: center !important;
}

.homeContainer h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.homeContainer .card{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    margin: auto;
    
}

.card img{
    width: 100%;
    margin-top: 15px;
}