

.menuHero{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./img/menuHero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.menuHero h1, .menuHero p{
    color: #E0CFBD;
}

.menuHero button{
    padding: 10px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px !important;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.categorised{
    background-color: #E0CFBD;
    color: rgb(68, 68, 68);
    padding: 20px;
}

.categorised img{
    margin: auto;
    width: 500px;
    border-radius: 15%;
}

.menuD img{
    float: right;
    clear: right;
}

.menuF img{
    float: left;
    clear: left;
}

.small img{
    width: 500px;
}

.row{
    padding: 20px;
}